.user{
    background-color: #f4f4f4;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 260px;
    color:white

}